/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

@font-face {
    font-family: "SFProBbold";
    src: url("assets/fonts/SF-Pro-Display-Bold.otf");
}
@font-face {
    font-family: "SFProMedium";
    src: url("assets/fonts/SF-Pro-Display-Medium.otf");
}
@font-face {
    font-family: "SFProRegular";
    src: url("assets/fonts/SF-Pro-Display-Regular.otf");
}

ion-header ion-toolbar{
    padding-top: var(--ion-safe-area-top,0) !important;
}

.roboto{ font-family: 'Roboto' }
.sf-pro-bold{ font-family: "SFProBbold" }
.sf-pro-medium{ font-family: "SFProMedium" }
.sf-pro-regular{ font-family: "SFProRegular" }

/* Margin */
.m-auto{ margin: auto; }
.m-0{ margin: 0; }
.m-5{ margin: 5px; }
.m-10{ margin: 10px; }
.m-15{ margin: 15px; }
.m-20{ margin: 20px; }
.m-25{ margin: 25px; }
.m-30{ margin: 30px; }

.mt-0{ margin-top: 0; }
.mt-5{ margin-top: 5px; }
.mt-10{ margin-top: 10px; }
.mt-15{ margin-top: 15px; }
.mt-20{ margin-top: 20px; }
.mt-25{ margin-top: 25px; }
.mt-30{ margin-top: 30px; }
.mt-35{ margin-top: 35px; }
.mt-40{ margin-top: 40px; }
.mt-45{ margin-top: 45px; }
.mt-50{ margin-top: 50px; }
.mt-55{ margin-top: 55px; }
.mt-60{ margin-top: 60px; }

.mt-n-0{ margin-top: -0; }
.mt-n-5{ margin-top: -5px; }
.mt-n-10{ margin-top: -10px; }
.mt-n-15{ margin-top: -15px; }
.mt-n-20{ margin-top: -20px; }
.mt-n-25{ margin-top: -25px; }
.mt-n-30{ margin-top: -30px; }
.mt-n-50{ margin-top: -50px; }

.me-0{ margin-right: 0; }
.me-5{ margin-right: 5px; }
.me-10{ margin-right: 10px; }
.me-15{ margin-right: 15px; }
.me-20{ margin-right: 20px; }
.me-25{ margin-right: 25px; }
.me-30{ margin-right: 30px; }

.mb-0{ margin-bottom: 0; }
.mb-5{ margin-bottom: 5px; }
.mb-10{ margin-bottom: 10px; }
.mb-15{ margin-bottom: 15px; }
.mb-20{ margin-bottom: 20px; }
.mb-25{ margin-bottom: 25px; }
.mb-30{ margin-bottom: 30px; }
.mb-40{ margin-bottom: 40px; }

.ms-0{ margin-left: 0; }
.ms-5{ margin-left: 5px; }
.ms-10{ margin-left: 10px; }
.ms-15{ margin-left: 15px; }
.ms-20{ margin-left: 20px; }
.ms-25{ margin-left: 25px; }
.ms-30{ margin-left: 30px; }

.mx-0{ margin-left: 0; margin-right: 0; }
.mx-5{ margin-left: 5px; margin-right: 5px; }
.mx-10{ margin-left: 10px; margin-right: 10px; }
.mx-15{ margin-left: 15px; margin-right: 15px; }
.mx-20{ margin-left: 20px; margin-right: 20px; }
.mx-25{ margin-left: 25px; margin-right: 25px; }
.mx-30{ margin-left: 30px; margin-right: 30px; }

.my-0{ margin-top: 0; margin-bottom: 0; }
.my-5{ margin-top: 5px; margin-bottom: 5px; }
.my-10{ margin-top: 10px; margin-bottom: 10px; }
.my-15{ margin-top: 15px; margin-bottom: 15px; }
.my-20{ margin-top: 20px; margin-bottom: 20px; }
.my-25{ margin-top: 25px; margin-bottom: 25px; }
.my-30{ margin-top: 30px; margin-bottom: 30px; }

/* Padding */
.p-0{ padding: 0; }
.p-5{ padding: 5px; }
.p-10{ padding: 10px; }
.p-15{ padding: 15px; }
.p-20{ padding: 20px; }
.p-25{ padding: 25px; }
.p-30{ padding: 30px; }

.pt-0{ padding-top: 0; }
.pt-5{ padding-top: 5px; }
.pt-10{ padding-top: 10px!important; }
.pt-15{ padding-top: 15px; }
.pt-20{ padding-top: 20px; }
.pt-25{ padding-top: 25px; }
.pt-30{ padding-top: 30px; }
.pt-35{ padding-top: 35px; }
.pt-40{ padding-top: 40px; }
.pt-45{ padding-top: 45px; }
.pt-50{ padding-top: 50px; }

.pe-0{ padding-right: 0; }
.pe-5{ padding-right: 5px; }
.pe-10{ padding-right: 10px; }
.pe-15{ padding-right: 15px; }
.pe-20{ padding-right: 20px; }
.pe-25{ padding-right: 25px; }
.pe-30{ padding-right: 30px; }
.pe-35{ padding-right: 35px; }
.pe-40{ padding-right: 40px; }
.pe-45{ padding-right: 45px; }
.pe-50{ padding-right: 50px; }

.pb-0{ padding-bottom: 0; }
.pb-5{ padding-bottom: 5px; }
.pb-10{ padding-bottom: 10px; }
.pb-15{ padding-bottom: 15px; }
.pb-20{ padding-bottom: 20px; }
.pb-25{ padding-bottom: 25px; }
.pb-30{ padding-bottom: 30px; }
.pb-50{ padding-bottom: 50px; }
.pb-100{ padding-bottom: 100px; }
.pb-150{ padding-bottom: 150px; }
.pb-200{ padding-bottom: 200px; }

.ps-0{ padding-left: 0; }
.ps-5{ padding-left: 5px; }
.ps-10{ padding-left: 10px; }
.ps-15{ padding-left: 15px; }
.ps-20{ padding-left: 20px; }
.ps-25{ padding-left: 25px; }
.ps-30{ padding-left: 30px; }

.px-0{ padding-left: 0; padding-right: 0; }
.px-5{ padding-left: 5px; padding-right: 5px; }
.px-10{ padding-left: 10px; padding-right: 10px; }
.px-12{ padding-left: 12px; padding-right: 12px; }
.px-15{ padding-left: 15px; padding-right: 15px; }
.px-20{ padding-left: 20px; padding-right: 20px; }
.px-20i{ padding-left: 20px!important; padding-right: 20px!important; }
.px-25{ padding-left: 25px; padding-right: 25px; }
.px-30{ padding-left: 30px; padding-right: 30px; }

.py-0{ padding-top: 0; padding-bottom: 0; }
.py-3{ padding-top: 3px; padding-bottom: 3px; }
.py-5{ padding-top: 5px; padding-bottom: 5px; }
.py-10{ padding-top: 10px; padding-bottom: 10px; }
.py-15{ padding-top: 15px; padding-bottom: 15px; }
.py-20{ padding-top: 20px; padding-bottom: 20px; }
.py-25{ padding-top: 25px; padding-bottom: 25px; }
.py-30{ padding-top: 30px; padding-bottom: 30px; }

/* Font Family */
.montserrat{ font-family: 'Montserrat', sans-serif!important; }

/* Font Size */
.fs-6{ font-size: 6px; }
.fs-8{ font-size: 8px; }
.fs-10{ font-size: 10px; }
.fs-12{ font-size: 12px; }
.fs-14{ font-size: 14px; }
.fs-16{ font-size: 16px; }
.fs-18{ font-size: 18px; }
.fs-19{ font-size: 19px; }
.fs-20{ font-size: 20px; }
.fs-21{ font-size: 21px; }
.fs-22{ font-size: 22px; }
.fs-24{ font-size: 24px; }
.fs-25{ font-size: 25px; }
.fs-26{ font-size: 26px; }
.fs-28{ font-size: 28px; }
.fs-30{ font-size: 30px; }
.fs-32{ font-size: 32px; }
.fs-34{ font-size: 34px; }
.fs-36{ font-size: 36px; }
.fs-38{ font-size: 38px; }
.fs-40{ font-size: 40px; }
.fs-42{ font-size: 42px; }
.fs-44{ font-size: 44px; }
.fs-46{ font-size: 46px; }
.fs-48{ font-size: 48px; }
.fs-50{ font-size: 50px; }
.fs-small{ font-size: small; }
.fs-medium{ font-size: medium; }
.fs-large{ font-size: large; }
.fs-xlarge{ font-size: x-large; }
.fs-xxlarge{ font-size: xx-large; }

/* Text Align */
.text-center{ text-align: center; }
.text-left{ text-align: left; }
.text-right { text-align: right; }

/* Text Weight */
.fw-bold{ font-weight: bold!important; }
.fw-normal{ font-weight: normal!important; }

/* Text Color */
.text-white{ color: #fff; }
.text-red{ color: #ee6c4d; }
.text-light{ color: #c1c1c1; } 
.text-bomb{ color: #c4c4c4; }
.text-gray{ color: #8b8b8b; }
.text-dark{ color: #525252; }
.text-green{ color: green; }
.text-blue{ color: blue; }
.text-dark-gray{ color: #4e4e4e; } 

.text-underline{ text-decoration: underline; }
.underline-offset-5{ text-underline-offset: 5px; }

/* Width */
.w-5{ width: 5%; }
.w-10{ width: 10%; }
.w-15{ width: 15%; }
.w-20{ width: 20%; }
.w-25{ width: 25%; }
.w-30{ width: 30%; }
.w-35{ width: 35%; }
.w-40{ width: 40%; }
.w-45{ width: 45%; }
.w-50{ width: 50%; }
.w-55{ width: 55%; }
.w-60{ width: 60%; }
.w-65{ width: 65%; }
.w-70{ width: 70%; }
.w-75{ width: 75%; }
.w-80{ width: 80%; }
.w-85{ width: 85%; }
.w-90{ width: 90%; }
.w-95{ width: 95%; }
.w-100{ width: 100%; }
.w-150{ width: 150px; }
.w-inherit{ width: inherit; }

/* Height */
.h-5{ height: 5%; }
.h-10{ height: 10%; }
.h-15{ height: 15%; }
.h-20{ height: 20%; }
.h-25{ height: 25%; }
.h-30{ height: 30%; }
.h-35{ height: 35%; }
.h-40{ height: 40%; }
.h-45{ height: 45%; }
.h-50{ height: 50%; }
.h-55{ height: 55%; }
.h-60{ height: 60%; }
.h-65{ height: 65%; }
.h-70{ height: 70%; }
.h-75{ height: 75%; }
.h-80{ height: 80%; }
.h-85{ height: 85%; }
.h-90{ height: 90%; }
.h-95{ height: 95%; }
.h-100{ height: 100%; }

.h-5v{ height: 5vh; }
.h-10v{ height: 10vh; }
.h-15v{ height: 15vh; }
.h-20v{ height: 20vh; }
.h-25v{ height: 25vh; }
.h-30v{ height: 30vh; }
.h-35v{ height: 35vh; }
.h-40v{ height: 40vh; }
.h-45v{ height: 45vh; }
.h-50v{ height: 50vh; }
.h-55v{ height: 55vh; }
.h-60v{ height: 60vh; }
.h-65v{ height: 65vh; }
.h-70v{ height: 70vh; }
.h-75v{ height: 75vh; }
.h-80v{ height: 80vh; }
.h-85v{ height: 85vh; }
.h-90v{ height: 90vh; }
.h-95v{ height: 95vh; }
.h-100v{ height: 100vh; }
.h-mc{ height: max-content; }
.h-minc{ height: min-content; }

/* Opacity */
.opacity-01{ opacity: 0.1; }
.opacity-02{ opacity: 0.2; }
.opacity-03{ opacity: 0.3; }
.opacity-04{ opacity: 0.4; }
.opacity-05{ opacity: 0.5; }
.opacity-06{ opacity: 0.6; }
.opacity-07{ opacity: 0.7; }
.opacity-08{ opacity: 0.8; }
.opacity-09{ opacity: 0.9; }

/* Display */
.d-flex{ display: flex; }
.d-block{ display: block; }
.d-none{ display: none; }

/* Position */
.position-absolute{ position: absolute; }
.position-relative{ position: relative; }
.position-fixed{ position: fixed; }
.position-sticky{ position: sticky; }

/* Left-Right-Top-Bottom */
.left-0{ left: 0; }
.left-5{ left: 5px; }
.left-10{ left: 10px; }
.left-15{ left: 15px; }

.right-0{ right: 0; }
.right-5{ right: 5px; }
.right-10{ right: 10px; }
.right-15{ right: 15px; }
.right-20{ right: 20px; }

.top-0{ top: 0; }
.top-5{ top: 5px; }
.top-10{ top: 10px; }
.top-15{ top: 15px; }
.top-20{ top: 20px; }
.top-25{ top: 25px; }
.top-30{ top: 30px; }
.top-35{ top: 35px; }
.top-40{ top: 40px; }
.top-45{ top: 45px; }
.top-50{ top: 50px; }

.bottom-0{ bottom: 0; }
.bottom-5{ bottom: 5px; }
.bottom-10{ bottom: 10px; }
.bottom-15{ bottom: 15px; }
.bottom-20{ bottom: 20px; }

/* Float */
.float-left{ float: left; }
.float-right{ float: right; }

/* Line Height */
.line-14{ line-height: 1.4; }
.line-15{ line-height: 1.5; }
.line-16{ line-height: 1.6; }

/* Z-Index */
.z-index-1{ z-index: 1; }
.z-index-2{ z-index: 2; }
.z-indexn-1{ z-index: -1; }

/* Overflow */
.overflow-auto{ overflow: auto; }
.overflow-hidden{ overflow: hidden; }
.overflow-scroll{ overflow: scroll; }

/* Grid Align */
.align-items-center{ align-items: center; }
.align-items-start{ align-items:flex-start; }
.justify-center{ justify-content: center; }
.justify-end{ justify-content: end; }
.justify-space-between{ justify-content: space-between; }
.flex-column{ flex-direction: column; }
.content-center{ align-content: center ; }
.align-content-flex-start{ align-content: flex-start; }

/* Border */
.border-top-1{ border-top: 1px solid; }
.border-right-1{ border-right: 1px solid; }
.border-bottom-1{ border-bottom: 1px solid; }
.border-bottom-2{ border-bottom: 2px solid; }
.border-bottom-3{ border-bottom: 3px solid; }
.border-bottom-4{ border-bottom: 4px solid; }
.border-bottom-5{ border-bottom: 5px solid; }
.border-left-1{ border-left: 1px solid; }
.border-gray{ border-color: #ccc; }
.border-light-gray{ border-color: #ddd; }
.border-1{ border: 1px solid #ddd; }
.b-rad-10{ border-radius: 10px; }
.b-rad-15{ border-radius: 15px; }
.b-rad-20{ border-radius: 20px; }
.b-rad-25{ border-radius: 25px; }
.b-rad-30{ border-radius: 30px!important; }
.b-rad-35{ border-radius: 35px; }
.b-rad-40{ border-radius: 40px; }
.b-rad-45{ border-radius: 45px; }
.b-rad-50{ border-radius: 50px; }
.b-toprad-15{ border-radius: 15px 15px 0 0; }
.b-bottomrad-15{ border-radius: 0 0 15px 15px; }
.b-toprad-10{border-radius: 10px 10px 0 0 ;}
.b-bottomrad-10{border-radius: 0 0 10px 10px;}

/* Box Shadow */
.mode-box{ box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06); }
.toolbar-box{ box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.08); }

/* Sign Up */
.form-input{
    background: #fff; 
    border-radius: 50px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06);
    //padding: 5px 15px!important;
    font-family: 'Montserrat', sans-serif;
    --background: transparent;
}

/* Background */
.bg-white{ background: #fff; }
.bg-green{ background: green; }
.bg-gray{ background: #d9d9d9; }
.bg-transparent{ background: transparent; }
.bg-transparent-io{ --background: transparent; }

.circle-bg-white{
    width: 235px;
    height: 235px;
    border: solid 2px rgba(221, 221, 221, 0.2);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    background-image: linear-gradient(166deg, #fff 10%, #fff 10%, #f4f4f4 99%);
}

.circle-temp{
    width: 120px;
    height: 120px;
    border: solid 2px rgba(221, 221, 221, 0.2);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    background-image: linear-gradient(166deg, #fff 10%, #fff 10%, #f4f4f4 99%);
}

.circle-keep-set{
    width: 800px;
    height: 800px;
    border: solid 2px rgba(221, 221, 221, 0.2);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    background-image: linear-gradient(166deg, #fff 10%, #fff 10%, #f4f4f4 99%);
}

.circle-bg-white-values{
    width: 150px;
    height: 150px;
    border: solid 2px rgba(221, 221, 221, 0.2);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    background-image: linear-gradient(166deg, #fff 10%, #fff 10%, #f4f4f4 99%);
}

/* Search Modal Class */
.search-modal-class,.add-recipe-modal-class, .recipe-detail-modal-class{
    --height: 90%;
    --border-radius: 15px 15px 0 0;
}
.search-modal-class .modal-wrapper, .add-recipe-modal-class .modal-wrapper, .recipe-detail-modal-class .modal-wrapper{
    position: absolute;
    display: block;
    bottom: 0;
}
.date-time-modal-class{
    --width: 50%;
    --height: 250px;
    --border-radius: 15px;
}
.device-settings-modal-class{
    --width: 90%;
    --height: 50%;
    --border-radius: 15px;
}
.keep-opt-modal-class{
    //--height: 50%;
    --border-radius: 15px 15px 0 0;
    align-items:flex-end;
    --background: transparent;
}
.keep-opt-modal-class .modal-wrapper{
    position: absolute;
    display: block;
    bottom: 0;
}
.keep-opt-modal-class .header-ios ion-toolbar:last-of-type {
    --border-width: 0px !important;
    height: 50px;
}
.search-modal-class .header-ios ion-toolbar:last-of-type, .add-recipe-modal-class .header-ios ion-toolbar:last-of-type, .recipe-detail-modal-class .header-ios ion-toolbar:last-of-type{
    --border-width: 0px !important;
    height: 35px;
}
.custom-loading .loading-wrapper.sc-ion-loading-ios{
    background-color: transparent!important;
    backdrop-filter: none!important;
}
.swiper-pagination-bullets{
    bottom: -2px!important;
    text-align: center;
}
.swiper-pagination-bullet{
    background: #4e4e4e;
}

canvas{
    width: 85%!important;
    height: 100%!important;
    border: 5px solid #F74B4B;
    border-radius: 10px;
}

.wifi-password-modal-class {
    --width: 90%;
    --height: 50%;
    --border-radius: 10px;
    --backdrop-opacity: 0.6!important;
    backdrop-filter: blur(2px)!important;
    align-items: center;
    justify-content: center;
}

.share-device-modal-class{
    --height: 90%;
    --border-radius: 15px 15px 0 0;
    align-items: flex-end
}
.share-device-modal-class .header-ios ion-toolbar:last-of-type {
    --border-width: 0px !important;
    height: 35px;
}

ion-datetime.datetime-time{
    --background: #fff!important;
}
// .inner-scroll{
//     height: auto!important;
//     background: #fff!important;
//     top: unset!important;
// }